{% extends "base.html" %}
{% block content %}
<div class = "row" id = "about-us-container">
    <aside class = "col-12 col-md-6"> 
            <h2>Who We Are </h2>
                <p>Uber Clean was started by an amazing woman with a great personality who excels in most areas including, 
                    but certainly not limited to: humility. And who is this dazzling woman you've only heard
                    amazing things about? Well, let me introduce myself: it's me. Hi, I'm Aften Whitmore and I started Uber Clean in 2022. 
                    I have been cleaning houses full-time since graduating college in 2016. You do that math. I have worked independently, 
                    as well as for multiple cleaning companies, all falling just short of what I needed as an employee to build the professional
                    and personal life I want for myself. This is what inspired me to create and develop Uber Clean: a company that allows
                    driven individiuals to work if and when they need. I could write more, but I am very tired so I will finish this part later.
                </p>
                <p>But before I go, I'd like to say thank you so much, Ryan and Alex, for being so patient with me these past 10 weeks. 
                    I was exceptionally anxious to try this boot camp, but you both managed to put me at ease with how kind you've been
                    during this learning process. To errybody else in this group: you guys are wizards and I hope to hear about all the 
                    amazing things you do in the weeks/months to come. Keep in touch and if you're ever in Chattanooga, look me up!
                </p>
    </aside>
    <aside class = 'col-12 col-md-6'>
        <img src = '../static/images/print.jpg' id = 'about-us-img' >
    </aside>
</div>

{% endblock content %}