<!--HOW IT WORKS-->
{% extends "base.html" %}
{% block content %}
    <div class = "row" id = "how-it-works-container">
        <aside class = "col-12 col-md-6">
            <img src = '../static/images/man.jpg' id = "how-it-works-img">
        </aside>
        <aside class = "col-12 col-md-6" id = "how-it-works-content">
            <h2>How does Uber Clean work?</h2>
            </br>
                <p id="how-sub-text">How does making your own schedule sound? And before you ask, no, we're not Lularoe or any of those 
                    weirdo multi level marketing schemes. We're legit. How legit? We're too legit to quit. We are Uber's newest and most 
                    exciting addition: Uber Clean. We hire individuals with a passion for cleaning and match them up with individuals who 
                    need their spaces cleaned! Whether that be a house, an office, an event space, or even your car, Uber Clean will have 
                    you saying, "holy macaroni, I'm never cleaning my own place again!" Lol I'm cracking up at my attempt at marketing jargon.
                    I can do no more. Onward!  
                </p>
        </aside>
    </div>


{% endblock content %}
